<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>プロフィール編集</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>プロフィール編集</h1>
    <form th:action="@{/users/profile}" th:object="${user}" method="post">
        <div>
            <label>氏名:</label>
            <input type="text" th:field="*{name}" required />
        </div>
        <div>
            <label>郵便番号:</label>
            <input type="text" th:field="*{postalCode}" required />
        </div>
        <div>
            <label>住所:</label>
            <input type="text" th:field="*{address}" required />
        </div>
        <div>
            <button type="submit" class="btn btn-success">更新</button>
        </div>
    </form>
    <p><a th:href="@{/users/profile}">マイページに戻る</a></p>
</body>
</html>
